.env
.env.*
!*.env.example

backend/.env
backend/.env.*
!backend/.env.example

vendor/
node_modules/
backend/vendor/
frontend/node_modules/

*.sqlite
*.sqlite3
backend/database/*.sqlite
backend/database/*.sqlite3

*.log
backend/storage/logs/*.log
.DS_Store
__MACOSX/
.idea/
.vscode/